<center>
  <h1>Edit Classrooms</h1>
  <%= form_for @classroom do |form|%>
    <%= form.text_field :name %><br>
      <% @classroom.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    <%= form.submit %>
  <% end %>
</center>
<%= link_to 'Back', classrooms_path %>