<center>
  <h1><td>Classroom</td></h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Show</th>
      </tr>
    </thead>
    <tbody>
      <% @classrooms.each do |classroom|%>
        <tr>
          <td><%= classroom.name %></td>
          
          <td><%= link_to 'Edit', edit_classroom_path(classroom.id), method: :get %></td>
          <td><%= link_to 'Delete', delete_classroom_path(classroom.id), method: :delete %></td>
          <td><%= link_to 'Show', classroom_path(classroom.id), method: :get %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <br>
  
  <br>
  <%= link_to 'New class', new_classroom_path %>
  <br>
  <%= link_to 'Teacher', teachers_path %>
  <br>
  <%= link_to  "lecture", new_lecture_path %>
  <br>
 