<center>
  <h1>Edit Classrooms</h1>
  <%= form_for @teacher do |form|%>
    <%= form.text_field :name %><br>
    <% @teacher.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= form.submit %>
  <% end %>
  <%= link_to 'Back', teachers_path %>
</center>