<center>
  <h1>Teachers</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @teachers.each do |teacher|%>
        <tr>
          <td><%= teacher.name %></td>
          <td><%= link_to 'Edit', edit_teacher_path(teacher.id), method: :get %></td>
          <td><%= link_to 'Delete', delete_teacher_path(teacher.id), method: :delete %></td>
          <td><%= link_to 'Show',  teacher_path(teacher.id), method: :get %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'teacher',  teachers_path %>
  <br>
  <%= link_to 'New teacher', new_teacher_path %>
  <br>
  <%= link_to "Classroom", classrooms_path %>

</center>
