<center>
  <%= search_form_for @search do |f| %>
    <div class="field abcdef">
      <%= f.label :name_cont, "Teacher Name" %>
      <%= f.text_field :name_cont %>
    </div>
    <div class="actions abcdef">
      <%= f.submit "Search" %>
    </div>
  <% end %>

  <h1>Teachers</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
      <% @teachers.each do |teacher|%>
        <tr id="teacher_<%= teacher.id%>">
          <td><%= link_to teacher.name, teacher %></td>
          <td><%= link_to 'Edit', edit_teacher_path(teacher.id), method: :get, class: :"btn btn-outline-secondary" %></td>
          <td><%= link_to 'Delete', delete_teacher_path(teacher.id), method: :delete, class: :"btn btn-outline-danger", remote: :true %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <br>
  
  <%= link_to 'New teacher', new_teacher_path %>
  <br>

</center>
