<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Classroom Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     
      <li class="nav-item">
      <td><%= link_to 'Classroom', classrooms_path, class: :"nav-link" %></td>
      </li>
      <li class="nav-item">
      <%= link_to 'Teacher', teachers_path, class: :"nav-link" %></td>
      </li>
      <li class="nav-item">
      <%= link_to 'Class Teacher', class_teachers_path, class: :"nav-link" %></td>
      </li>
    </ul>
  </div>
  <ul class = "navbar-nav"
    <% if user_signed_in? %>
       <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li><br>  || 
       <li><%= link_to "Login", new_user_session_path %></li>
   <% end %>
  </ul>
    
  </nav>
      <div class="container">
        <div class="row">
          <div class="col-2">
            <div id="side"><br>
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
          
            </div>
            <div id="main">
              <%= @content_for_layout %>
            </div>
          </div>
          <div class="col-10">

            <%= yield %>
          </div>
        </div>
      </div>
    </body>
</html>