
<%= form_for @classteacher do |form| %>

  

  <div class="field">
    <%= form.label :teacher_name %>
    <%= form.collection_select :teacher_id, Teacher.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :classroom_name %>
    <%= form.collection_select :classroom_id, Classroom.all, :id, :name %>
  </div>


  <div class="field">
  <%= form.label :lecture_number %>
  <%= form.text_field :lecture_number%>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>

  <% end %>


