<center>
 
  
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Teacher Name" %>
    <%= f.collection_select :teacher_id, Teacher.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :name_cont, "Classroom Name" %>
    <%= f.collection_select :classroom_id, Classroom.all, :id, :name %>
 </div>

 <div class="field">
   <%= f.label :number_cont, "Lecture Number" %>
   <%= f.text_field :lecture_number_cont %>
</div>

  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>  

  <h2>Class Teachers</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Teacher Name</th>
        <th scope="col">Classroom Name</th>
        <th scope="col">Lecture Time</th>
        <th scope="col">Edit</th>
        <th scop="col">Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @classteachers.each do |classteacher| %>
        <tr id="class_teacher_<%= classteacher.id%>">
          <td><%= link_to classteacher.teacher.name, class_teacher_path(classteacher.id, type: 'teacher') %></td> 
          <td><%= link_to classteacher.classroom.name, class_teacher_path(classteacher.id, type: 'classroom') %></td> 
          <td><%= link_to classteacher.lecture_number, class_teacher_path(classteacher.id, type: 'lecture_number') %></td>
          <td><%= link_to 'Edit', edit_class_teacher_path(classteacher.id), method: :get, class: "btn btn-outline-secondary" %></td>
          <td><%= link_to 'Delete', class_teacher_path(classteacher), method: :delete, class: "btn btn-outline-danger", remote: :true %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Class Teacher', new_class_teacher_path %>
  <br>
  
</center>